.brand-card{
    background:#fff;
    border:1px solid #ededed;
    border-radius:16px;
    padding:25px;
    text-align:center;
    transition:.3s;
    cursor:pointer;
}

.brand-card:hover{
    box-shadow:0 10px 30px rgba(0,0,0,.05);
    transform:translateY(-5px);
}

.brand-logo{
    width:55px;
    height:55px;
    object-fit:contain;
    margin-bottom:12px;
}

.brand-name{
    font-size:14px;
    font-weight:600;
}
